@page "/gen"
@model OneBox.Pages.GenerateLabelModel
@{
}

<div>

    <form asp-page-handler="SearchPostBox" method="post" class="form-group">
        <label for="FirstName">Wpisz swój kod pocztowy: </label>
        <input type="text" name="postCode" value="" class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary">Znajdź paczkomat w okolicy</button>
    </form>

    @if (Model.ShowMatches)
    {
        <h3 class="text-center" style="color:red">Rozpoznano miasto: @Model.FoundedCity</h3>


        <form asp-page-handler="Generate" method="post">
            <label for="AvailableLockers">Znalezione dostępne paczkomaty: </label>
            @Html.DropDownList("SelectedStreet", new SelectList(Model.lockersToDisplay), "Wybierz Paczkomat", new { name = "SelectedStreet" })
            <br />

            <div class="form-row">
                <div class="col">
                    <label for="StartNumber">Podaj swój numer telefonu: </label> <br />
                    <input type="text" name="StartNumber" value="" class="form-control" /> <br />
                </div>
                <div class="col">
                    <label for="EndNumber">Podaj numer telefonu odbiorcy : </label>
                    <input type="text" name="EndNumber" value="" class="form-control" /> <br />
                </div>
            </div>
            <br />

            <select name="packSize" class="form-control">
                <option value="">Wskaż gabaryt</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
            </select>
            <br />

            <button type="submit" class="btn btn-success">Generuj etykietę!</button>
        </form>
    }
    @if (Model.MatchError)
    {
        <h3 class="text-center" style="color:red">Nie znaleziono paczkomatu!</h3>
    }
</div>
