@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="u-content">
    <div class="u-body">
        <div class="container-fluid mt-2">
            <div class="row justify-content-center">
                
                    <a href="#">
                        <div class="col-auto d-flex mb-3">
                            <div class="card card-index h-100" style="width: 16rem;">
                                <div class="d-flex justify-content-center">
                                    <img class="card-img-top w-75 mt-5" src="#" alt="Generuj etykietę">
                                </div>
                                <div class="card-body">
                                    <h5 class="h3 card-title text-info">Generuj etykietę</h5>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="col-auto d-flex mb-3">
                            <div class="card card-index h-100" style="width: 16rem;">
                                <div class="d-flex justify-content-center">
                                    <img class="card-img-top w-75 mt-5" src="#" alt="Wyślij paczke">
                                </div>
                                <div class="card-body">
                                    <h5 class="h3 card-title text-info">Wyślij paczkę</h5>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="col-auto d-flex mb-3">
                            <div class="card card-index h-100" style="width: 16rem;">
                                <div class="d-flex justify-content-center">
                                    <img class="card-img-top w-75 mt-5" src="#" alt="Odbierz paczke">
                                </div>
                                <div class="card-body">
                                    <h5 class="h3 card-title text-info">Odbierz paczkę</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

